<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>RemindYourself-Mobile-Register</title>

    <link rel="stylesheet" href="../../static/css/semantic.min.css" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">

    <style type="text/css">
        body > .grid {
            height: 100%;
        }
        .column {
            max-width: 500px;
        }

        /*=====移动端=========*/
        .my-mobile-container {
            padding: 1em !important;
        }
    </style>
</head>
<body>

<div class="ui middle aligned center aligned grid my-mobile-container">
    <div class="column">
        <h3 class="ui teal image header">
            <i class="envelope icon"></i>
            <div class="content">
                欢迎注册RemindYourself服务
            </div>
        </h3>
        <form class="ui large form">
            <div class="ui raised segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="请输入要注册的用户名">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="请输入要注册的密码">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        <input type="text" name="email" placeholder="请输入准备绑定的邮箱(目前仅支持QQ邮箱)">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">注册</div>
            </div>

            <div class="ui error message"></div>

            <!--验证成功并且成功将数据存入云端的div-->
            <div class="ui my-success-msg">
                <!--<p>提醒事项创建完成</p>-->
            </div>

        </form>

        <!--<div class="ui message">-->
            <!--新用户？ <a href="./register.m.html">注册</a>-->
        <!--</div>-->
    </div>
</div>



<!--JQuery必须引入在semantic之前-->
<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../static/js/jquery-migrate-1.0.0.js" th:src="@{/js/jquery-migrate-1.0.0.js}"></script>
<script src="../../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // 所有验证都通过后，表单提交到服务器的ajax请求函数
        // json格式：{username:xx, password:xx, email:xx}
        function ajaxValidate(value) {
            var defer = $.Deferred();
            // console.log(value);
            $.ajax({
                url: 'addNewUser',
                type: 'post',
                data: value,
                dataType: 'json', // 如果后端传回来的是json数据,必须指定dataType
                success: function (data) {
                    defer.resolve(data);
                },
                error: function (data) {

                }
            });
            return defer.promise();
        };

        // 自定义semantic表单校验规则1:ajax请求验证用户名是否已经被别人注册了
        // false代表验证没通过，意思就是该值已经被注册了！！！
        // 所以后台有这个value值时应该返回false，不存在这个value值返回true!!!(这个逻辑我总是搞反……)
        // 这里只能用同步请求，我试了一下
        $.fn.form.settings.rules.ajaxUniqueUsername = function(value) { // 这里value就是你输入的值
            var valid = false;

            $.ajax({
                url: '/remindYourself/checkUsername',
                type: 'post',
                data: {username: value},
                dataType: 'json',
                async: false
            }).done(function (result) {
                valid = result.result;
            });

            return valid;
        };

        // 自定义semantic表单校验规则2:ajax请求验证邮箱是否已经被别人注册了（方法同上）
        $.fn.form.settings.rules.ajaxUniqueEmail = function(value) {
            var valid = false;

            $.ajax({
                url: '/remindYourself/checkEmail',
                type: 'post',
                data: {email: value},
                dataType: 'json',
                async: false
            }).done(function (result) {
                valid = result.result;
            });

            return valid;
        };

        // 辅助函数，提示用户创建成功
        function showSuccessInfo(info) {
            // 向.my-success-msg这个div上加上success类
            $('.my-success-msg').addClass('message').addClass('success');
            // 在里面加入提示信息
            $('.my-success-msg').html(info);
            // 向ui、form上加上success类
            $('.ui.large.form').addClass('success');
            // 3秒后清除上面加的东西
            setTimeout(function () {
                $('.ui.large.form').removeClass('success');
                $('.my-success-msg').empty();
                $('.my-success-msg').removeClass('success').removeClass('message');
                window.location.href = '/remindYourself/login'; // 创建完用户后跳转到login.html页面
            }, 3000);
        }

        // 注:semantic-ui的表单验证关于正则表达式必须放在/[正则表达式放在这里]/i
        $('.ui.form').form({
            on: 'blur',
            fields: {
                username: {identifier: 'username', rules: [{type: 'empty', prompt: '用户名不能为空!'}, {type: 'regExp', value: /\w{6,12}/i, prompt: '用户名只能是6至12位的字母数字组合!'}, {type: 'ajaxUniqueUsername', prompt: '用户名已经存在!'}]},
                password: {identifier: 'password', rules: [{type: 'empty', prompt: '密码不能为空!'}, {type: 'regExp', value: /\w{6,12}/i, prompt: '密码只能是6至12位的字母数字组合!'}]},
                email: {identifier: 'email', rules: [{type: 'empty', prompt: '邮箱不能为空!'}, {type: 'regExp', value: /\d{6,12}@qq.com/i, prompt: '目前注册邮箱仅支持6至12位的QQ邮箱!'}, {type: 'ajaxUniqueEmail', prompt: '邮箱已经被注册!'}]}
            },
            onSuccess: function (event, fields) { // 表单验证通过后调用onSuccess函数
                event.preventDefault(); // 使用ajax提交,防止表单自动提交
                // fields里面包含了所有的表单数据;如{username: 'suki', password: '123'}
                $.when(ajaxValidate(fields)).done(function (result) {
                    console.log(result);
                    if (result.result == 'success') { // 成功插入用户后
                        showSuccessInfo('<p>用户创建成功!</p>');
                    }
                });
            }
        });
    });
</script>
</body>
</html>