<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>RemindYourself-Index</title>

    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <!--<link rel="stylesheet" href="../static/css/me.css">-->

    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
            background: url("../../static/images/bg.png");
        }

        .my-container {
            margin-top: 1em !important;
        }

        footer {
            position: absolute;
            bottom: 0px !important;
            width: 100%; !important;
        }

        /*当屏幕小于768像素时*/
        @media screen and (max-width: 768px) {
            .my-used-for-computer {
                display: none !important;
            }

            .my-used-for-mobile {
                display: block !important;
            }
        }
    </style>
</head>
<body>

    <!--用于桌面端的布局-->
    <div class="my-used-for-computer">
        <div class="ui container my-container">
            <div class="ui grid">
                <div class="three column stackable row">
                    <div class="middle aligned center aligned column">
                        <div class="ui huge teal header">
                            <i class="envelope icon"></i>
                            <div class="content">
                                RemindYourself
                                <div class="sub header" style="color: #00b5ad !important;">An Elegant Web Reminder App</div>
                            </div>
                        </div>
                    </div>

                    <div class="right floated middle aligned right aligned column">
                        <div class="ui large header">
                            <div class="content">
                                sign up
                            </div>
                            <a href="../../static/register.html"><i class="hand point left outline icon"></i></a>
                        </div>
                    </div>
                </div>

                <div class="one column row">
                    <div class="column">
                        <div class="ui center aligned basic segment">
                            <img src="../../static/images/email.svg" class="ui centered middle  image">

                            <div class="ui large header">
                                Keep in touch &nbsp;<i class="heart icon"></i>常联系
                            </div>

                            <div class="ui large header">For one thing</div>

                            <div class="ui huge header">Just remind you of something</div>

                            <div class="ui large header">
                                sign in
                                <a href="../../static/login.html"><i class="arrow alternate circle right outline icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer>
            <div class="ui center aligned basic segment">
                <div class="ui header">First web app build by Summerki</div>
            </div>
        </footer>
    </div>

    <!--用于移动端的布局-->
    <div class="my-used-for-mobile" style="display: none;">
        <div class="ui container my-container">
            <div class="ui grid">
                <div class="one column stackable row">
                    <div class="middle aligned column">
                        <div class="ui huge teal header">
                            <i class="envelope icon"></i>
                            <div class="content">
                                RemindYourself
                                <div class="sub header" style="color: #00b5ad !important;">An Elegant Web Reminder App</div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="right floated middle aligned right aligned column">-->
                    <!--<div class="ui large header">-->
                    <!--<div class="content">-->
                    <!--sign up-->
                    <!--</div>-->
                    <!--<a href="./register.m.html"><i class="hand point left outline icon"></i></a>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>

                <div class="one column row">
                    <div class="column">
                        <div class="ui center aligned basic segment">
                            <img src="../../static/images/email.svg" class="ui centered middle small image">

                            <div class="ui medium header">
                                Keep in touch &nbsp;<i class="heart icon"></i>常联系
                            </div>

                            <div class="ui medium header">For one thing</div>

                            <div class="ui large header">Just remind you of something</div>
                        </div>
                    </div>
                </div>

                <div class="two column row">
                    <div class="one column">
                        <button class="ui primary right floated basic button">sign in</button>
                    </div>
                    <div class="one column">
                        <button class="ui green basic button">sign up</button>
                    </div>
                </div>

            </div>
        </div>

        <footer>
            <div class="ui center aligned basic segment">
                <div class="ui header">First web app build by Summerki</div>
            </div>
        </footer>
    </div>

<!--JQuery必须引入在semantic之前-->
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/jquery-migrate-1.0.0.js"></script>
<script src="../../static/js/semantic.min.js"></script>


</body>
</html>